<!doctype html>
<html lang='en'>
<head>
	<meta charset='utf-8'>
	<title>Document</title>
	<link rel="stylesheet" href="css/bootstrap.min.css"/>
	<style>
		.tx{
			width:50px;height:50px;margin-bottom: 10px;margin-left: 80px;
			background: red;
		}
	</style>
</head>
	
<body style='padding:10px' ng-app='app'>
	<div ng-controller='UserCtrl'>
		<div class="tx" ng-if='1'></div>
		<form name='i'>
		<fieldset>
			<legend>基本信息</legend>
			<div>
				<input type="text" placeholder="用户名" required="" ng-model='user.username'>
				<input type="text" placeholder="密码"><br/>
				职位：<select>
					<option value="">请选择</option>
					<option value="1" ng-selected='1'>JAVA工程师</option>
					<option value="2">.NET工程师</option>
				</select><br/>
				性别：<input type="radio" name='sex' ng-checked='1'>&nbsp;男&nbsp;
				<input type="radio" name='sex' ng-checked='1'>&nbsp;女&nbsp;<br/>
				<fieldset>
					<legend>爱好</legend>
					<div>
						<input type="checkbox" ng-checked='isChecked(1)' name='ai'>&nbsp;蓝球&nbsp;
						<input type="checkbox" ng-checked='isChecked(2)' name='ai'>&nbsp;足球&nbsp;
						<input type="checkbox" ng-checked='isChecked(3)' name='ai'>&nbsp;排球&nbsp;
					</div>
				</fieldset>
			</div>
		</fieldset>
			
		</form>
		
	</div>
	
</body>
	<script src='js/angular.min.js'></script>
	<script>
		angular.module('app',[])		
		.controller('UserCtrl',function($scope){
			$scope.user={
				username:'ruizou',
				pwd:'',
				zw:'',
				sex:'',
				hobby:'',
				aihao:[3]
			}
			$scope.isChecked=function(n){
				var isok=false;
				for(var i=0;i<$scope.user.aihao.length;i++){
					if(n==$scope.user.aihao[i]){
						isok=true;
						break;
					}
				}
				return isok;
			}
		})
	</script>

</html>