<!doctype html>
<html>
<head>
	<script src='js/angular-1.3.0.js'></script>
	<style>

	</style>
</head>
<body ng-app='myApp'>
	<div ng-controller="PlayerController"> 
	  <button ng-click="play()" class="button" ng-show="!playing">Play</button> 
	  <button ng-click="stop()" class="button alert" ng-show="playing">Stop</button> 
	  Playing audio: <b>{{ playing }}</b>
	  <div ng-bind='audio'>
	  	
	  </div> 
	</div> 
<script type="text/javascript">
var app=angular.module('myApp',[])
app.controller('PlayerController', ['$scope', function($scope) { 
  $scope.playing = false; 
  $scope.audio = document.createElement('audio'); 
  $scope.audio.src = 'Moto_Demo.mp4'; 
  // document.getElementsByTagName('body')[0].append($scope.audio);
  $scope.play = function() { 
    $scope.audio.play(); 
    $scope.playing = true; 
  }; 
  $scope.stop = function() { 
    $scope.audio.pause(); 
    $scope.playing = false; 
  }; 
  $scope.audio.addEventListener('ended', function() { 
    $scope.$apply(function() { 
      $scope.stop() 
    }); 
  }); 
}]);

</script>
</body>
</html>