<!doctype html>
<html lang='en'>
<head>
	<meta charset='utf-8'>
	<title>Document</title>
</head>
	
<body style='padding:10px' ng-app='myApp'>
	<div ng-controller='myCtrl'>
		<input type="text" ng-model='task'>
		<button ng-click='add()'>提交</button>
		<ul class="list-group">
			<li class="list-group-item" ng-repeat='item in tasks track by $index'>{{item}}<span ng-click='tasks.splice($index,1)'>&nbsp;delete</span></li>
		</ul>
	</div>
	
</body>
	<script src='http://7nj1p4.com1.z0.glb.clouddn.com/xuzilingangular-1.3.0.js'></script>
	<script>
		var app=angular.module('myApp',[])
		app.controller('myCtrl',function($scope){
			$scope.tasks=[]
			$scope.add=function(){
				$scope.tasks.push($scope.task)
				console.log($scope.tasks)
				$scope.task=''
			}

		})

	</script>
</html>