<html>
<head>
	<meta charset="utf-8"/>
	<script src='http://7nj1p4.com1.z0.glb.clouddn.com/xuzilingangular-1.3.0.js'></script>
</head>
<body>
	<div ng-app='myApp' ng-controller='myCtrl'>
		<input type="text"  ng-model='user.account'>
		<input type="text"  ng-model='user.pwd'>
		<button login='login()'>提交</button>
	</div>
</body>
<script>
	var app=angular.module('myApp',[])
	app.controller('myCtrl',function($scope){
		$scope.user={account:'',pwd:''}
		$scope.login=function(){
			console.log($scope.user)
		}
	})
	app.directive('login',function(){
		return function(scope,elem,attr){
			elem.bind('click',function(){
				// scope.login()
				// scope.$apply('login()')
				scope.$apply(attr.login)
			})
		}
	})
</script>
</html>